* {
  margin: 0px;
  padding: 0px;
  font-family: "Arial";
  font-size: 22px;
}

/*Page Header*/
header {
  margin: 0px 0px 15px 0px;
  padding: 20px 0px;
  background: #0e0e0e;
  border-radius: 0px 0px 1px 1px;
  border-bottom: 1px solid #f76248;
}

header ul {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

header li {
  margin: 3px 12px;
  padding: 3px 5px;
  display: inline;
}

header ul li a {
  text-decoration: none;
}

/*Page Body*/
body {
  background: #474746;
}

.container {
  margin: 10px;
  padding: 5px 10px;
  text-align: center;
}

.card {
  background: #fff;
  border-radius: 3px;
  color: #222;
}

@media only screen and (max-width: 320px) {
    header {
      font-size: 18px;
    }
    
    .card {
      font-size: 18px;
    }
}