* {
  margin: 0px;
  padding: 0px;
  font-family: "Arial";
  font-size: 22px;
}

/*Page Header*/
header {
  background: #0e0e0e;
  border-radius: 0px 0px 1px 1px;
}

header ul {
  list-style-type: none;
}

/*Page Body*/
body {
  background: #222;
}