* {
  margin: 0px;
  padding: 0px;
  font-family: "Arial";
  font-size: 19px;
}

/*Page Header*/
header {
  display: grid;
  grid-template-rows: 1fr;
  background: #0e0e0e;
  border-radius: 0px 0px 1px 1px;
}

/*Page Body*/
body {
  background: #222;
}